<nav class="navbar">
    <a class="navbar-brand" href="#" ><b>ZoonTask Management </b></a>
    <div>
         <ul class="navbar-nav" style="margin-left: 180ex; ">
            <li class="nav-item" >
                <a class="nav-link" [routerLink]="['/guest/']">Home</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" [routerLink]="['/guest/blog']">Blog</a>
            </li>
            <!-- <li class="nav-item" >
                <a class="nav-link" [routerLink]="['/guest/']">Contact</a>
            </li> -->
            <li class="nav-item" >
                <a class="nav-link" [routerLink]="['/guest/signin']">Signin/Signup</a>
            </li>
        </ul> 
    </div>
</nav>
<router-outlet></router-outlet>
<div class="footer">
    <p><b>ZoonTask Management </b> </p>
</div>
